<!DOCTYPE html>
<html class="h-full bg-gray-50">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <title>APP STARTER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{$baseUrl}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$baseUrl}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$baseUrl}/favicon-16x16.png">
    <link rel="manifest" href="{$baseUrl}/site.webmanifest">

    {ifset #head}
        {include #head}
    {/ifset}

    {webpackCss 'admin'}
</head>

<body n:class="bg-blue-700, min-h-full">
<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    {ifset #content}
        {include #content}
    {/ifset}
</div>
{webpackJs 'admin'}
</body>
