.git
.idea
.vscode

vendor
node_modules

puppeter/node_modules

temp
log
var
test-results
.phpunit.cache

.phpunit.result.cache
coverage
playwright-report
*.log
test-results

docker-compose.yaml
readme.md
