config/config.local.neon
config/config-docker.local.neon
docker/config-docker.local.neon

deploy-local.sh

vendor/*
.idea/*
tmp/*
var/*
temp/*
log/*

www/build/*
www/prod-build/*

.phpunit.result.cache

.phpunit.cache/*
node_modules/*
puppeter/node_modules/*

!www/build/admin/.gitkeep
!www/prod-build/.gitkeep
