config/config.local.neon
config/config-docker.local.neon
docker/config-docker.local.neon

deploy-local.sh

vendor/*
.idea/*
tmp/*
var/*
temp/*
log/*

www/build/*

.phpunit.result.cache

node_modules/*
puppeter/node_modules/*

!www/build/admin/.gitkeep
