includes:
	- vendor/cuyz/valinor/qa/PHPStan/valinor-phpstan-configuration.php

parameters:
	level: max
	paths:
		- src
		- tests

	doctrine:
		objectManagerLoader: tools/DoctrineObjectManager.php

	excludePaths:
		analyse:
			- src/UI/Extension/Svg/SvgNode.php
			- src/Doctrine/CustomValidateSchemaCommand.php

	ignoreErrors:
		- '#Call to an undefined method Nette\\ComponentModel\\IComponent\:\:addError\(\)#'
