{varType string $value}
{varType App\UI\Control\Datagrid\Column\ColumnText $column}
{varType App\Doctrine\Entity $item}

{parameters
    string $value,
    App\UI\Control\Datagrid\Column\ColumnText $column,
    App\Doctrine\Entity $item,
    bool $compact
}

<td
        x-show="isColumnVisible('{$column->getColumn()}')"
        n:class="$compact ? 'px-3 py-2.5' : 'px-5 py-4', 'whitespace-nowrap text-sm text-gray-700', $column->getAlignment()->getCellClass()">
    {$value}
</td>
