{varType string $value}
{varType App\UI\Control\Datagrid\Column\ColumnText $column}
{varType App\Doctrine\Entity $item}

{parameters
    string $value,
    App\UI\Control\Datagrid\Column\ColumnText $column,
    App\Doctrine\Entity $item
}

{$value}
