{templateType App\Dashboard\UI\DashboardTemplate}

{block #content}
    {control portfolioGoalControl}

    {control systemValueControl}

    <div>
        {control dashboardValueControl}
    </div>
{/block}
