{templateType App\Dashboard\UI\DashboardTemplate}

{block #content}
    {control portfolioGoalControl}

    <div>
        {control dashboardValueControl}
    </div>

    {control portfolioStatisticTotalControl}
{/block}
