{block #headingButtons}
    <a n:href="Expense:kbForm" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Nahrát výpis z komerční banky
    </a>
{/block}

{block #content}
    {snippet modal}
        {if $showModal}
            {control modal}
        {/if}
    {/snippet}
    {control bankExpenseGrid}
{/block}
