parameters:
	api:
		apiKeys:
			-
				apiKey: 'test-api-key'
				appAdminId: '00000000-0000-0000-0000-000000000001'

services:
	apiKeyMiddleware: App\Test\Integration\Api\TestApiKeyMiddleware(apiKeys: %api.apiKeys%)
