openapi: 3.0.0

info:
    title: My Portfolio Tracker API
    version: 1.0.0

security:
    - ApiKey: []

paths:
    /ping:
        get:
            summary: Ping the API
            security:
                - ApiKey: []
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        example: ok
    /stocks:
        get:
            summary: Get list of all stock assets
            security:
                - ApiKey: []
            responses:
                '200':
                    description: List of stock assets
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/StockAsset'
    /home/device/record:
        post:
            summary: Create a new home device record
            security:
                - ApiKey: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/HomeDeviceRecordCreate'
            responses:
                '200':
                    description: Created home device record
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/HomeDeviceRecord'

components:
    securitySchemes:
        ApiKey:
            type: apiKey
            in: header
            name: X-Api-Key
    schemas:
        StockAsset:
            type: object
            additionalProperties: false
            required:
                - id
                - name
                - ticker
                - exchange
                - currency
                - price
                - priceDownloadedAt
                - assetPriceDownloader
            properties:
                id:
                    type: string
                    format: uuid
                name:
                    type: string
                ticker:
                    type: string
                isin:
                    type: string
                    nullable: true
                exchange:
                    type: string
                currency:
                    type: string
                price:
                    type: number
                    format: float
                priceDownloadedAt:
                    type: string
                    format: date-time
                assetPriceDownloader:
                    type: string
        HomeDeviceRecordCreate:
            type: object
            additionalProperties: false
            required:
                - internalId
            properties:
                internalId:
                    type: string
                value:
                    type: number
                    format: float
                    nullable: true
                unit:
                    type: string
                    nullable: true
                    enum:
                        - celsius
        HomeDeviceRecord:
            type: object
            additionalProperties: false
            required:
                - id
                - deviceInternalId
                - createdAt
            properties:
                id:
                    type: string
                    format: uuid
                deviceInternalId:
                    type: string
                value:
                    type: number
                    format: float
                    nullable: true
                unit:
                    type: string
                    nullable: true
                createdAt:
                    type: string
                    format: date-time


servers:
    - url: /api/v1
    - url: http://localhost/my-portfolio-tracker/www/api/v1
