openapi: 3.0.0

info:
    title: My Portfolio Tracker API
    version: 1.0.0

paths:
    /ping:
        get:
            summary: Ping the API
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        example: ok
    /stocks:
        get:
            summary: Get list of all stock assets
            responses:
                '200':
                    description: List of stock assets
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/StockAsset'

components:
    schemas:
        StockAsset:
            type: object
            properties:
                id:
                    type: string
                    format: uuid
                name:
                    type: string
                ticker:
                    type: string
                isin:
                    type: string
                    nullable: true
                exchange:
                    type: string
                currency:
                    type: string
                price:
                    type: number
                    format: float
                priceDownloadedAt:
                    type: string
                    format: date-time
                assetPriceDownloader:
                    type: string


servers:
    - url: /api/v1
    - url: http://localhost/my-portfolio-tracker/www/api/v1
