openapi: 3.0.0

info:
    title: My Portfolio Tracker API
    version: 1.0.0

paths:
    /ping:
        get:
            summary: Ping the API
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        example: ok


servers:
    - url: /api/v1
    - url: http://localhost/my-portfolio-tracker/www/api/v1
