{templateType App\Stock\Valuation\Model\UI\StockValuationModelTemplate}

{block #content}
	{include '../../../UI/templates/@valuationNavigation.latte', activeSection: 'models'}

	<div x-data="valuationTable()">
		{snippet modelTable}
			{control stockValuationTable}
		{/snippet}
	</div>
{/block}
