parameters:
	rabbitmq:
		user: appuser
		password: extremelysecretrabbit
		host: 192.168.1.245
		port: 31383
		lazy: true
		queues:
			notificationQueue:
				prefetchCount: 5
			jobRequestQueue:
				prefetchCount: 5

services:
	rabbitMQConnectionConfig: App\RabbitMQ\RabbitMQConnectionConfig(%rabbitmq.host%, %rabbitmq.port%, %rabbitmq.user%, %rabbitmq.password%)
	rabbitMQConnectionFactory: App\RabbitMQ\RabbitMQConnectionFactory
	rabbitMQPublisher: App\RabbitMQ\PhpAmqpLibRabbitMQPublisher
	rabbitMQQueueConfigCollection: App\RabbitMQ\RabbitMQQueueConfigCollection([
		App\RabbitMQ\RabbitMQQueueConfig('notificationQueue', 'notificationConsumer', @notificationConsumer, %rabbitmq.queues.notificationQueue.prefetchCount%),
		App\RabbitMQ\RabbitMQQueueConfig('jobRequestQueue', 'jobRequestConsumer', @jobRequestConsumer, %rabbitmq.queues.jobRequestQueue.prefetchCount%),
	])
	rabbitMQQueueDeclarator: App\RabbitMQ\RabbitMQQueueDeclarator
	rabbitMQConsumerRunner: App\RabbitMQ\RabbitMQConsumerRunner
	- App\RabbitMQ\RabbitMQDeclareQueuesCommand
	- App\RabbitMQ\RabbitMQConsumerCommand
	notificationConsumer: App\Notification\RabbitMQ\NotificationConsumer
	notificationProducer: App\Notification\RabbitMQ\NotificationProducer(@rabbitMQPublisher, 'notificationQueue')
	jobRequestConsumer: App\JobRequest\RabbitMQ\JobRequestConsumer
	jobRequestProducer:	App\JobRequest\RabbitMQ\JobRequestProducer(@rabbitMQPublisher, 'jobRequestQueue')
