custompresenterfactory:
	presenterDir: %appDir%
	customMapping:
		Admin:Login: App\Login\UI\LoginPresenter
		Admin:AppAdmin: App\Admin\UI\AppAdminPresenter
		Admin:AppAdminChangePassword: App\Admin\UI\AppAdminChangePasswordPresenter
		Admin:AppAdminEdit: App\Admin\UI\AppAdminEditPresenter
		Admin:Dashboard: App\Dashboard\UI\DashboardPresenter
		Admin:StockAsset: App\Stock\Asset\UI\StockAssetPresenter
		Admin:StockAssetEdit: App\Stock\Asset\UI\StockAssetEditPresenter
		Admin:StockPosition: App\Stock\Position\UI\StockPositionPresenter
		Admin:StockPositionEdit: App\Stock\Position\UI\StockPositionEditPresenter
		Admin:StockAssetPositionDetail: App\Stock\Asset\UI\StockAssetPositionDetailPresenter
		Admin:StockAssetClosedPositionDetail: App\Stock\Asset\UI\StockAssetClosedPositionDetailPresenter
		Admin:PortuAsset: App\Portu\Asset\UI\PortuAssetPresenter
		Admin:PortuAssetEdit: App\Portu\Asset\UI\PortuAssetEditPresenter
		Admin:PortuPosition: App\Portu\Position\UI\PortuPositionPresenter
		Admin:PortuPositionEdit: App\Portu\Position\UI\PortuPositionEditPresenter
		Admin:PortuPositionPrice: App\Portu\Position\UI\PortuPositionPricePresenter
		Admin:PortfolioStatisticRecord: App\Statistic\UI\Record\PortfolioStatisticRecordPresenter
		Admin:PortfolioStatisticChart: App\Statistic\UI\Chart\PortfolioStatisticChartPresenter
		Admin:StockAssetDividend: App\Stock\Dividend\UI\StockAssetDividendPresenter
		Admin:StockAssetDividendDetail: App\Stock\Dividend\UI\StockAssetDividendDetailPresenter
		Admin:StockAssetDividendRecord: App\Stock\Dividend\Record\UI\StockAssetDividendRecordPresenter
		Admin:CurrencyOverview: App\Currency\UI\CurrencyOverviewPresenter
		Admin:Expense: App\Cash\Expense\UI\ExpensePresenter
		Admin:ExpenseTag: App\Cash\Expense\UI\ExpenseTagPresenter
		Admin:ExpenseOverview: App\Cash\Expense\UI\ExpenseOverviewPresenter
		Admin:StockAssetDetail: App\Stock\Asset\UI\Detail\StockAssetDetailPresenter
		Admin:WorkMonthlyIncome: App\Cash\Income\WorkMonthlyIncome\UI\WorkMonthlyIncomePresenter
		Admin:BankIncome: App\Cash\Income\Bank\UI\BankIncomePresenter
		Admin:PortfolioStatisticTotal: App\Statistic\Total\UI\PortfolioStatisticTotalPresenter
		Admin:PortfolioGoal: App\Goal\UI\PortfolioGoalPresenter
		Admin:BankAccount: App\Cash\Bank\Account\UI\BankAccountPresenter
		Admin:StockValuation: App\Stock\Valuation\UI\StockValuationPresenter
		Admin:StockAssetIndustry: App\Stock\Asset\Industry\UI\StockAssetIndustryPresenter
		Admin:SystemValue: App\System\UI\SystemValuePresenter
		Admin:StockAssetDividendForecast: App\Stock\Dividend\Forecast\UI\StockAssetDividendForecastPresenter
		Admin:StockValuationModel: App\Stock\Valuation\Model\UI\StockValuationModelPresenter
		Admin:CryptoAssetClosedPositionDetail: App\Crypto\Asset\UI\CryptoAssetClosedPositionDetailPresenter
		Admin:CryptoAssetPositionDetail: App\Crypto\Asset\UI\CryptoAssetPositionDetailPresenter
		Admin:CryptoAsset: App\Crypto\Asset\UI\CryptoAssetPresenter
		Admin:CryptoAssetEdit: App\Crypto\Asset\UI\CryptoAssetEditPresenter
		Admin:CryptoAssetDetail: App\Crypto\Asset\UI\Detail\CryptoAssetDetailPresenter
		Admin:CryptoPosition: App\Crypto\Position\UI\CryptoPositionPresenter
		Admin:CryptoPositionEdit: App\Crypto\Position\UI\CryptoPositionEditPresenter
		Admin:Home: App\Home\UI\HomePresenter
		Admin:HomeEdit: App\Home\UI\HomeEditPresenter
		Admin:HomeDevice: App\Home\Device\UI\HomeDevicePresenter
		Admin:HomeDeviceEdit: App\Home\Device\UI\HomeDeviceEditPresenter
		Admin:HomeDeviceRecord: App\Home\Device\Record\UI\HomeDeviceRecordPresenter
