custompresenterfactory:
	presenterDir: %appDir%
	customMapping:
		Admin:Login: App\Login\UI\LoginPresenter
		Admin:AppAdmin: App\Admin\UI\AppAdminPresenter
		Admin:AppAdminChangePassword: App\Admin\UI\AppAdminChangePasswordPresenter
		Admin:AppAdminEdit: App\Admin\UI\AppAdminEditPresenter
		Admin:Dashboard: App\Dashboard\UI\DashboardPresenter
		Admin:StockAsset: App\Stock\Asset\UI\StockAssetPresenter
		Admin:StockAssetEdit: App\Stock\Asset\UI\StockAssetEditPresenter
		Admin:StockPosition: App\Stock\Position\UI\StockPositionPresenter
		Admin:StockPositionEdit: App\Stock\Position\UI\StockPositionEditPresenter
		Admin:StockAssetDetail: App\Stock\Asset\UI\StockAssetDetailPresenter
		Admin:PortuAsset: App\Portu\Asset\UI\PortuAssetPresenter
		Admin:PortuAssetEdit: App\Portu\Asset\UI\PortuAssetEditPresenter
		Admin:PortuPosition: App\Portu\Position\UI\PortuPositionPresenter
		Admin:PortuPositionEdit: App\Portu\Position\UI\PortuPositionEditPresenter
		Admin:PortuPositionPrice: App\Portu\Position\UI\PortuPositionPricePresenter
		Admin:PortfolioStatistic: App\Statistic\UI\PortfolioStatisticPresenter
		Admin:StockAssetDividend: App\Stock\Dividend\UI\StockAssetDividendPresenter
