name: My portfolio tracker pipeline
on: [ push, pull_request ]
jobs:
    app_build:
        name: My portfolio tracker pipeline
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-versions: [ '8.5' ]
        services:
            mysql:
                image: mariadb:10.5
                env:
                    MYSQL_ALLOW_EMPTY_PASSWORD: true
                    MYSQL_DATABASE: my-portfolio-app-tracker-tests
                options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
                ports:
                    - 32574:3306
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
            -   name: Setup PHP, with composer and extensions
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    extensions: mbstring, xml, ctype, iconv, intl, mysql, pdo_mysql
                    coverage: none

            -   name: Start mysql service
                run: sudo /etc/init.d/mysql start

            -   name: Install Composer dependencies
                run: |
                    composer install --no-progress --prefer-dist --optimize-autoloader --ansi

            -   name: Create temp dir for tools
                run: |
                    mkdir var

            -   name: Prepare config and database
                run: |
                    cp .github/config.local.neon config/config.local.neon
                    composer migm

            -   name: Run checks
                run: composer build-all
